.container-list {
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
    align-items: center;
    border-top: 0.1em white solid;

}

.container-left {
    text-align: left;
}

.dist-time {
    font-size: small;
    margin: 0.5em 0;
}

.drug-location {
    font-size: small;
}

button {
    height: 3em;
    border-radius: 15em;
    background-color: green;
    font-weight: bold;
}

